<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Навесы из поликарбоната, профнастила, металлочерепицы, мягкой кровли, с элементами ковки по самым низким ценам. Изготовление навесов в Краснодаре по индивидуальным размерам от компании «СтальПро23».">
    <meta name='keywords' content='навесы, купить поликарбонат, цена на навесы,навесы Краснодарском крае, Разновидности навесов, СтальПро23 отзывы»'>
    <meta name="google-site-verification" content="m0OX6tcD8cbmgJEd2ClyGzNfuam9M4ROeadAA9uUZXc">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta property="og:title" content="Изготовление навесов в Краснодаре - «стальпро23»">
    <meta property="og:description" content="Навесы из поликарбоната, профнастила, металлочерепицы, мягкой кровли, с элементами ковки по самым низким ценам. Изготовление навесов в Краснодаре по индивидуальным размерам от компании «СтальПро23».">
    <meta property="og:url" content="https://stalpro23.ru/">
    <meta property="og:site_name" content="СтальПро23">
    <meta name = "twitter: card" content = "summary">
    <link rel="stylesheet" href="../static/assets/css/style.min.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="shortcut icon" href="../static/assets/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" sizes="60x60" href="assets/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="assets/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="assets/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/assets/img/favicon-16x16.png">
    <link rel="manifest" href="assets/img/site.webmanifest">
    <link rel="mask-icon" href="../static/assets/img/safari-pinned-tab.svg" color="#ff9900">
    <meta name="apple-mobile-web-app-title" content="https://stalpro23.ru/">
    <meta name="application-name" content="https://stalpro23.ru/">
    <meta name="msapplication-TileColor" content="#121514">
    <meta name="theme-color" content="#ffffff">
    <title>Изготовление навесов в Краснодаре - «стальпро23»</title>
</head>
<body>
<header class='blog'>
            <div class="header header--blog">
            <div class="header__navbar">
                <div class="overlay has-fade"></div>
                <nav class="container container--pall flex flex-jc-sb flex-ai-c">
                    <a href="/" class="header__logo">
                    <img src="../static/assets/img/logo.svg" alt="stalpro23" />
                    </a>
            
                    <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                    <span></span>
                    <span></span>
                    <span></span>
                    </a>
            
                    <div class="header__links hide-for-mobile">
                    <a href="#products" class='scrollto'>Продукция</a>
                    <a href="#contacts">Контакты</a>
                    <a href="#examp">Галерея</a>
                    <a href="#company">О компании</a>
                    </div>
                </nav>
            </div>
                <div class="header__menu has-fade">
                    <a href="https://2gis.ru/krasnodar/geo/70030076196441196?m=39.103971%2C45.096462%2F19.07" target="_blank"><div class="header__addr">
                        Г. краснодар ул  Капитальная 8
                    </div>
                </a>
                <a href="#products" class='scrollto'>Продукции</a>
                <a href="#contacts">Контакты</a>
                <a href="#examp">Галерея</a>
                <a href="#company">О компании</a>
                </div>
                    <h2 class="about-back">Доступные цены на железные конструкции</h2>
            </div>
          </header>
<section class="products" id='products'>
              <div class="title">Последние работы</div>
              <div class="cards">
                  <div class="card card-large">
                      <div class="card__img"><img src="../static/assets/img/gallery61.jpg" alt=""></div>
                      <div class="card__title">Навес: Поликарбонат</div>
                      <div class="card__par">Клиент остался полностью доволен работой</div>
                      <div class="card__price">150000 ₽</div>
                      <div class='card__data'>17/06/2021</div>
                      <div class="card__time">Выполненно за: 5 дней</div>
                      <a class="card__btn btn callback-button-form">Заказать</a>
                  </div>
                  <div class="card card-large">
                      <div class="card__img"><img src="../static/assets/img/proflist.jpg" alt=""></div>
                      <div class="card__title">Навес: Профнастил</div>
                      <div class="card__par">Надежный и долговечный навес для любых целей</div>
                      <div class="card__price">150000 ₽</div>
                      <div class='card__data'>17/06/2021</div>
                      <div class="card__time">Выполненно за: 5 дней</div>
                      <a class="card__btn btn callback-button-form">Заказать</a>
                  </div>
                  <div class="card card-large">
                      <div class="card__img"><img src="../static/assets/img/cherep.jpg" alt=""></div>
                      <div class="card__title">Навес: Металлочерепица</div>
                      <div class="card__par">Эстетичный, практичный навес для вас</div>
                      <div class="card__price">150000 ₽</div>
                      <div class='card__data'>17/06/2021</div>
                      <div class="card__time">Выполненно за: 5 дней</div>
                      <a class="card__btn btn callback-button-form">Заказать</a>
                  </div>
                  <div class="card card-large">
                      <div class="card__img"><img src="../static/assets/img/crovlya.jpg" alt=""></div>
                      <div class="card__title">Навес: Мягкая кровля</div>
                      <div class="card__par">Многообразный выбор цветов и форм</div>
                      <div class="card__price">150000 ₽</div>
                      <div class='card__data'>17/06/2021</div>
                      <div class="card__time">Выполненно за: 5 дней</div>
                      <a class="card__btn btn callback-button-form">Заказать</a>
                  </div>
              </div>
              <div class="arrows">
                <div class="arrow-left arrow"><img src="../static/assets/img/arrow-left.svg" alt=""></div>
                <div class="arrow-right arrow"><img src="../static/assets/img/arrow-right.svg" alt=""></div>
            </div>
          </section>	


          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <script src="https://unpkg.com/colcade@0/colcade.js"></script>
    <script src="../static/assets/js/"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-199905812-1">
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-199905812-1');
</script>
</body>
</html>