<footer id='contacts'>
  <div class="container">
  <div class="footer__row">
    <div class="footer__block">
      <img src="static/assets/img/logo-gray.svg" alt="" class="logo">
      <div class="footer__time">Время работы
с 8:00 до 18:00</div>
    </div>
    <div class="footer__block"><div class="footer_t">Мастерская</div>
    <div class="footer__address">ул. Капитальная, 8 Краснодар, Краснодарский край,</div>
  </div>
    <div class="footer__block"><div class="footer_t">Контакты</div>
    <ul class="list">
      <li class="footer__email">stalpro23@gmail.com</li>
      <li class="footer__phone">+7 (928)215-09-09</li>
    </ul>
  </div>
  </div>
  </div>
</footer>

<a class="pulse-button" href="tel:+79282150909">
    <span class="pulse-button__icon">

    </span>

    <span class="pulse-button__text">
      Позвоните нам!
    </span>

    <span class="pulse-button__rings"></span>
    <span class="pulse-button__rings"></span>
    <span class="pulse-button__rings"></span>
</a>