{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
{% include 'main.html' %}
    <title>Title</title>
</head>
<body>
<header class='blog'>
            <div class="header header--blog">
            <div class="header__navbar">
                <div class="overlay has-fade"></div>
                <nav class="container container--pall flex flex-jc-sb flex-ai-c">
                    <a href="/" class="header__logo">
                    <img src="/static/assets/img/logo.svg" alt="stalpro23" />
                    </a>

                    <a id="btnHamburger" href="#" class="header__toggle hide-for-desktop">
                    <span></span>
                    <span></span>
                    <span></span>
                    </a>

                    <div class="header__links hide-for-mobile">
                    <a href="/" class='scrollto'>Продукция</a>
                    <a href="#contacts">Контакты</a>
                    <a href="/">Галерея</a>
                    <a href="/">О компании</a>
                    </div>
                </nav>
            </div>
                <div class="header__menu has-fade">
                    <a href="https://2gis.ru/krasnodar/geo/70030076196441196?m=39.103971%2C45.096462%2F19.07" target="_blank"><div class="header__addr">
                        Г. краснодар ул  Капитальная 8
                    </div>
                </a>
                <a href="#products" class='scrollto'>Продукции</a>
                <a href="#contacts">Контакты</a>
                <a href="#examp">Галерея</a>
                <a href="#company">О компании</a>
                </div>
                    <h2 class="about-back">Доступные цены на железные конструкции</h2>
            </div>
</header>
<div class="breads">
          <div class="breadcrumbs">
            <a href="/">Главная</a>
            <a class="bread" href="{{ request.path }}">Продукция</a></div></div>
<section class="products" id='products'>
              <div class="title">Каталог продукции</div>
              <div class="cards">
                {% for partition in object_list %}
                    <div class="card">
                      <div class="card__img"><img src="/{{ partition.preview }}" alt="{{ partition.slug }}"></div>
                      <div class="card__title"><h3>{{ partition.name }}</h3></div>
                      <div class="card__par">{{ partition.description }}</div>
                        <div class="card__price">от {{ partition.cost }} за м²</div>
                      <a href='products/{{ partition.slug }}' class="card__btn btn">Подробнее</a>
                  </div>
                {% empty %}
                    <li>Нет записей</li>
                {% endfor %}
              </div>
              <div class="arrows">
                <div class="arrow-left arrow"><img src="/static/assets/img/arrow-left.svg" alt=""></div>
                <div class="arrow-right arrow"><img src="/static/assets/img/arrow-right.svg" alt=""></div>
            </div>
</section>
{% include 'footer.html' %}
{% include 'script.html' %}
</body>
</html>